@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    /* background-color: #eeeeee; */
    background-color: #eef2ff;
}

/* a:hover {
    color: #31778C;
    text-decoration: underline;
} */

button:hover {
    background-color: #f3c86f;
}

th, td {
    padding: 0.1em 0.5em;
}